@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar {
  @apply [&::-webkit-scrollbar]:h-1 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full [scrollbar-width:thin];

  &::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
  }
  scrollbar-color: #e5e7eb transparent;

  &:where(.dark, .dark *) {
    &::-webkit-scrollbar-thumb {
      background-color: #525252;
    }
    scrollbar-color: #525252 transparent;
  }
}

@theme {
  --color-page: #faf9f5;
  --color-form: #ffffff;
  --color-svg: #ededed;
  --color-placeholder: #7a7a7a;
  --color-label: #3e3e3e;
  --color-performance-card: #141512;
  --color-card: #ffffff;
  --color-outer-stroke: #faf9f5;
  --color-inner-stroke: #30302e;
  --color-inner-text: #ffffff;
  --color-pchart-line: #30302e;
  --color-pchart-line-muted: #b8b7b3;
  --color-chart-grid: #e5e4e0;
  --color-lchart-line: #dc2626;
  --color-bar-1: #eab308;
  --color-bar-2: #c8c8c8;
  --color-bar-3: #d97706;
  --color-bar-4: #a8a29e;
  --color-w5bar-1: #b91c1c;
  --color-w5bar-2: #dc2626;
  --color-w5bar-3: #ef4444;
  --color-w5bar-4: #f87171;
  --color-w5bar-5: #fca5a5;
}

.dark {
  --color-page: #141512;
  --color-form: #30302e;
  --color-svg: #40403e;
  --color-placeholder: #7a7a7a;
  --color-label: #a7a6a2;
  --color-performance-card: #faf9f5;
  --color-card: #30302e;
  --color-outer-stroke: #141512;
  --color-inner-stroke: #d4d2cc;
  --color-inner-text: #000000;
  --color-pchart-line: #d4d2cc;
  --color-pchart-line-muted: #5a5a58;
  --color-chart-grid: #3d3d3b;
  --color-lchart-line: #dc2626;
  --color-bar-1: #ca8a04;
  --color-bar-2: #a0a0a0;
  --color-bar-3: #b45309;
  --color-bar-4: #525252;
  --color-w5bar-1: #7f1d1d;
  --color-w5bar-2: #991b1b;
  --color-w5bar-3: #b91c1c;
  --color-w5bar-4: #dc2626;
  --color-w5bar-5: #ef4444;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
