@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar {
  @apply [&::-webkit-scrollbar]:h-1 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full [scrollbar-width:thin];

  &::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
  }
  scrollbar-color: #e5e7eb transparent;

  &:where(.dark, .dark *) {
    &::-webkit-scrollbar-thumb {
      background-color: #525252;
    }
    scrollbar-color: #525252 transparent;
  }
}

@theme {
  --color-page: #faf9f5;
  --color-form: #ffffff;
  --color-svg: #ededed;
  --color-placeholder: #7a7a7a;
  --color-label: #3e3e3e;
  --color-performance-card: #141512;
  --color-card: #ffffff;
  --color-outer-stroke: #faf9f5;
  --color-inner-stroke: #30302e;
  --color-inner-text: #ffffff;
  --color-chart-line: #30302e;
  --color-chart-line-muted: #b8b7b3;
  --color-chart-grid: #e5e4e0;
}

.dark {
  --color-page: #141512;
  --color-form: #30302e;
  --color-svg: #40403e;
  --color-placeholder: #7a7a7a;
  --color-label: #a7a6a2;
  --color-performance-card: #faf9f5;
  --color-card: #30302e;
  --color-outer-stroke: #141512;
  --color-inner-stroke: #d4d2cc;
  --color-inner-text: #000000;
  --color-chart-line: #d4d2cc;
  --color-chart-line-muted: #5a5a58;
  --color-chart-grid: #3d3d3b;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
